h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.total {
  font-size: 3em;
}


.cresceu{
  color: green;
  font-size: 2em;
}

.caiu{
  color: rgb(128, 0, 0);
  font-size: 2em;
}
.mat-icon {
  position: relative;
  padding: 0 20px;
  top: 5px;
}
