    <div id="sidebar">
    <div class="sidebar__title">
        <div class="sidebar__img">
            <img src="https://i.imgur.com/nR8VgRa.png" alt="logo" />
            <h2>ADM</h2>
        </div>
        <i class="fa fa-times" id="sidebarIcon" aria-hidden="true"></i>
    </div>
    <div class="sidebar__menu">
        <div class="sidebar__link active_menu_link">
          <i class="fa fa-home"></i>
          <a routerLink='/home'>Home</a>
        </div>
        <h2>MNG</h2>
        <div class="sidebar__link">
          <i class="fa fa-user-secret" aria-hidden="true"></i>
          <a routerLink='/defaultComponent'>Dashboard</a>
        </div>
        <div class="sidebar__link">
          <i class="fa fa-building-o"></i>
          <a routerLink='/post'>Posts</a>
        </div>
        <div class="sidebar__link">
          <i class="fa fa-wrench"></i>
          <a href="#">Employee Management</a>
        </div>
        <div class="sidebar__link">
          <i class="fa fa-archive"></i>
          <a href="#">Warehouse</a>
        </div>
        <div class="sidebar__link">
          <i class="fa fa-handshake-o"></i>
          <a href="#">Contracts</a>
        </div>
        <h2>LEAVE</h2>
        <div class="sidebar__link">
          <i class="fa fa-question"></i>
          <a href="#">Requests</a>
        </div>
        <div class="sidebar__link">
          <i class="fa fa-sign-out"></i>
          <a href="#">Leave Policy</a>
        </div>
        <div class="sidebar__link">
          <i class="fa fa-calendar-check-o"></i>
          <a href="#">Special Days</a>
        </div>
        <div class="sidebar__logout">
          <i class="fa fa-power-off"></i>
          <a routerLink="/entrar">Log out</a>
        </div>
      </div>
    </div>
