<div class="container">


    <main>
        <div class="main__container">

            <!-- MAIN CARDS STARTS HERE -->
            <div class="main__cards">
                <div class="card">
                    <i class="fa fa-user-o fa-2x text-lightblue" aria-hidden="true"></i>
                    <div class="card_inner">
                        <p class="text-primary-p">Número de clientes</p>
                        <span class="font-bold text-title">578</span>
                    </div>
                </div>

                <div class="card">
                    <i class="fa fa-calendar fa-2x text-red" aria-hidden="true"></i>
                    <div class="card_inner">
                        <p class="text-primary-p">pedidos agendados</p>
                        <span class="font-bold text-title">27</span>
                    </div>
                </div>

                <div class="card">
                    <i class="fa fa-thumbs-up fa-2x text-yellow" aria-hidden="true"></i>
                    <div class="card_inner">
                        <p class="text-primary-p">Boa avaliação</p>
                        <span class="font-bold text-title">3400</span>
                    </div>
                </div>

                <div class="card">
                    <i class="fa fa-thumbs-down fa-2x text-green" aria-hidden="true"></i>
                    <div class="card_inner">
                        <p class="text-primary-p">Má avaliação</p>
                        <span class="font-bold text-title">65</span>
                    </div>
                </div>
            </div>
            <!-- MAIN CARDS ENDS HERE -->

            <!-- CHARTS STARTS HERE -->
            <div class="charts">
                <div class="charts__left">
                    <div class="charts__left__title">
                        <div>
                            <h1>Reporte diario</h1>
                            <p>São Paulo,São Paulo,Brasil</p>
                        </div>
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>
                    <div class="charts__right__cards">
                        <div class="card1">
                            <h1>Em caixa</h1>
                            <p>R$75,30</p>
                        </div>

                        <div class="card2">
                            <h1>Vendas</h1>
                            <p>R$124,20</p>
                        </div>

                        <div class="card3">
                            <h1>Usuarios</h1>
                            <p>39</p>
                        </div>

                        <div class="card4">
                            <h1>Pedidos</h1>
                            <p>18</p>
                        </div>
                    </div>
                </div>

                <div class="charts__right">
                    <div class="charts__right__title">
                        <div>
                            <h1>Reporte Mensal</h1>
                            <p>São Paulo,São Paulo,Brasil</p>
                        </div>
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </div>

                    <div class="charts__right__cards">
                        <div class="card1">
                            <h1>Valor total</h1>
                            <p>R$29705,30</p>
                        </div>

                        <div class="card2">
                            <h1>Vendas </h1>
                            <p>R$10024,20</p>
                        </div>

                        <div class="card3">
                            <h1>Usuarios </h1>
                            <p>3998</p>
                        </div>

                        <div class="card4">
                            <h1>Pedidos</h1>
                            <p>1802</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CHARTS ENDS HERE -->
        </div>
    </main>

    <div id="sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div>
