<div class="main-wrap">
    <div class="outer-wrap">
        <div class="img-wrap">
            <img src="https://i.imgur.com/GZa2i3r.png" alt="">
        </div>
        <div class="form-wrap">
            <h1>Entrar</h1>
            <form action="#" class="form">
                <br>
                <input type="email" name="email" placeholder="Email"><br>
                <input type="password" name="pass" placeholder="Password"><br>
                <button type="submit" class="btn" routerLink="/home">Entrar</button>
            </form>

            <div class="social-login">
                <a href="#">
                    <img src="https://i.imgur.com/LbpjIgT.png" alt="Google">
                </a>
                <a href="#">
                    <img src="https://i.imgur.com/PUNFlHi.png" alt="Facebook">
                </a>
            </div>
            <div class="bottom-text">
                <p><a href="#">Esqueci a senha</a></p>
            </div>
        </div>
    </div>
</div>
